<div class="container">
  <div class="top-right">
    <%= link_to "Logout", logout_path, method: :delete %>
  </div>

  <div class="padded">
    <h1>User Dashboard</h1>

    <h4>Hi you, you're signed in as: <%= @user.email %></h4>

    <h3> <%= link_to "My Links", links_path %> </h3>

  </div>
</div>
